{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<h1>TEST</h1>
<form{{ attributes }}>
<div class="col-md-6">
		<h1>TEST</h1>
    {{ children }}
</div>
<div class="col-md-6">
		<h1>TEST</h1>
    {{ children }}
    {{ form.name }}
  {{ form.actions }}
</div>
</form>

